<div class="input" [ngStyle]="{'width': width}">
  <p class="input__label">{{label}}</p>
  <div class="input__container" [ngStyle]="{'flex-direction': isReversed ? 'row-reverse' : 'row'}">
    <input type="text" [ngStyle]="{'padding-left': isReversed ? '20px' : ''}"
                       [placeholder]="placeholder"
                       [disabled]="isDisabled"
                       [required]="isRequired"
                       [value]="value"
                       (keyup.enter)="handleInput($event)"
                       >
    <app-button [icon]="icon" [iconSize]="iconSize" [iconColor]="iconColor" [class]="buttonClass" [padding]="buttonPadding" [borderRadius]="buttonBorderRadius"></app-button>
  </div>
</div>
