<button class="button" [class.primary]="class === 'primary'"
                       [class.secondary]="class === 'secondary'"
                       [ngStyle]="{'font-size' : titleSize,
                                   'flex-direction': isReversed ? 'row-reverse' : '',
                                   'padding': padding,
                                   'border-radius': borderRadius,
                                   'background': background,
                                   'width': width,
                                   'height': height}"
                       (click)="onClick()"
                       [disabled]="isDisabled"
                       [type]="type"
                       [routerLink]="link"
                       >
  {{title}}
  <i [class]="icon" [ngStyle]="{'font-size': iconSize,
                                'color': iconColor}"></i>
</button>
