.button {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: Jost, sans-serif;
  font-weight: 500;
  color: #FF868E;
  letter-spacing: 2px;
}

.button:hover {
  background: #FBE0DC;
}

.active {
  background: #FF868E;

  i {
    color: white !important;
  }
}

.primary {

}

.primary:hover {
  opacity: 30%;
}

.secondary {
  background: #FBE0DC;
}

.secondary:hover {
  color: white;
  background: #FF868E;

  i {
    color: white !important;
  }
}
