<div class="search">
  <div class="search__header">
    <app-input [icon]="'icon-search'" [iconSize]="'20px'" [iconColor]="'#FF868E'"
               [placeholder]="'Search for breeds by name'"
               [buttonClass]="'secondary'"
               [buttonPadding]="'10px'"
               [buttonBorderRadius]="'10px'"
               [value]="name"
    ></app-input>
    <app-button [link]="'/likes'" [icon]="'icon-like'" [iconColor]="'#FF868E'"></app-button>
    <app-button [link]="'/favourites'" [icon]="'icon-favourite'" [iconColor]="'#FF868E'"></app-button>
    <app-button [link]="'/dislikes'" [icon]="'icon-dislike'" [iconColor]="'#FF868E'"></app-button>
  </div>

  <div class="search__container">
    <div class="search__container-header">
      <app-button [link]="'../'" [icon]="'icon-back'" [iconSize]="'20px'" [iconColor]="'#FF868E'" [class]="'secondary'" [borderRadius]="'10px'" [padding]="'10px'"></app-button>
      <h1>SEARCH</h1>
    </div>

    <h2>Search results for: <span>{{name}}</span></h2>

    <div class="search__container-not_found" *ngIf="!breed.length">
      <p>No item found</p>
    </div>

    <app-grid [data]="breed"></app-grid>
  </div>
</div>
