<div class="breeds">
  <div class="breeds__header">
    <input type="text" placeholder="Search for breeds by name">
    <button><img src="assets/images/like.png" alt="like"></button>
    <button><img src="assets/images/favourite.png" alt="favourite"></button>
    <button><img src="assets/images/dislike.png" alt="dislike"></button>
  </div>

  <div class="breeds__container">
    <div class="breeds__container-header">
      <button class="pinky"><img src="assets/images/back.png" alt="back"></button>
      <h1>BREEDS</h1>
      <select>
        <option value="test1">test1</option>
        <option value="test2">test2</option>
      </select>
      <select>
        <option value="test1">test1</option>
        <option value="test2">test2</option>
      </select>
      <button class="breeds__container-header__filter"><img src="assets/images/filter_up.png" alt="filter_up"></button>
      <button class="breeds__container-header__filter"><img src="assets/images/filter_down.png" alt="filter_down"></button>
    </div>

    <div class="breeds__container-grid">
      <div class="breeds__container-grid__item first">
        <img src="assets/images/cat.png" alt="cat">
        <div class="breeds__container-grid__item-breeds">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="breeds__container-grid__item second">
        <img src="assets/images/cat.png" alt="cat">
        <div class="breeds__container-grid__item-breeds">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="breeds__container-grid__item third">
        <img src="assets/images/cat.png" alt="cat">
        <div class="breeds__container-grid__item-breeds">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="breeds__container-grid__item fourth">
        <img src="assets/images/cat.png" alt="cat">
        <div class="breeds__container-grid__item-breeds">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="breeds__container-grid__item fifth">
        <img src="assets/images/cat.png" alt="cat">
        <div class="breeds__container-grid__item-breeds">
          <h2>{{breed}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
