<div class="breeds">
  <div class="breeds__header">
    <input type="text" placeholder="Search for breeds by name">
    <button><img src="assets/images/like.png" alt="like"></button>
    <button><img src="assets/images/favourite.png" alt="favourite"></button>
    <button><img src="assets/images/dislike.png" alt="dislike"></button>
  </div>

  <div class="breeds__container">
    <div class="breeds__container-header">
      <app-button [icon]="'icon-back'" [iconSize]="'20px'" [class]="'secondary'" [borderRadius]="'10px'" [padding]="'10px'"></app-button>
      <h1>BREEDS</h1>
      <app-select [width]="'226px'" [placeholder]="'All breeds'"></app-select>
      <app-select [width]="'101px'" [placeholder]="'Limit: 10'"></app-select>
      <app-button [icon]="'icon-filter_up'" [iconSize]="'21px'" [background]="'#F8F8F7'" [callback]="test1"></app-button>
      <app-button [icon]="'icon-filter_down'" [iconSize]="'21px'" [background]="'#F8F8F7'" [callback]="test2"></app-button>
    </div>

    <div class="breeds__container-grid">
      <div class="breeds__container-grid__item" *ngFor="let breed of breeds">
        <img src="assets/images/cat.png" alt="cat">
        <div class="breeds__container-grid__item-breeds">
          <h2>{{breed}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
