<div class="voting">
  <div class="voting__header">
    <app-input [icon]="'icon-search'" [iconSize]="'20px'" [iconColor]="'#FF868E'"
               [placeholder]="'Search for breeds by name'"
               [buttonClass]="'secondary'"
               [buttonPadding]="'10px'"
               [buttonBorderRadius]="'10px'"
               (valueChange)="searchImg($event)"
               ></app-input>
    <app-button [icon]="'icon-like'" [iconColor]="'#FF868E'"></app-button>
    <app-button [icon]="'icon-favourite'" [iconColor]="'#FF868E'"></app-button>
    <app-button [icon]="'icon-dislike'" [iconColor]="'#FF868E'"></app-button>
  </div>

  <div class="voting__container">
    <div class="voting__container-header">
      <app-button [link]="'../'" [icon]="'icon-back'" [iconSize]="'20px'" [iconColor]="'#FF868E'" [class]="'secondary'" [borderRadius]="'10px'" [padding]="'10px'"></app-button>
      <h1>VOTING</h1>
    </div>

    <img class="voting__container-img" [src]="img ? img : data[0].image.url" alt="cat">

    <div class="voting__container-buttons">
      <app-button [class]="'primary'" [icon]="'icon-like'" [iconSize]="'30px'" [iconColor]="'white'" [background]="'#97EAB9'" [width]="'80px'" [height]="'80px'" [borderRadius]="'20px 0 0px 20px'"></app-button>
      <app-button [class]="'primary'" [icon]="'icon-favourite'" [iconSize]="'30px'" [iconColor]="'white'" [background]="'#FF868E'" [width]="'80px'" [height]="'80px'" [borderRadius]="'0px'"></app-button>
      <app-button [class]="'primary'" [icon]="'icon-dislike'" [iconSize]="'30px'" [iconColor]="'white'" [background]="'#FFD280'" [width]="'80px'" [height]="'80px'" [borderRadius]="'0px 20px 20px 0px'"></app-button>
    </div>

    <div class="voting__container-history">
      <div class="voting__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
      <div class="voting__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
      <div class="voting__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
      <div class="voting__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
    </div>
  </div>
</div>

