<div class="vote">
  <div class="vote__header">
    <input type="text" placeholder="Search for breeds by name">
    <button><img src="assets/images/like.png" alt="like"></button>
    <button><img src="assets/images/favourite.png" alt="favourite"></button>
    <button><img src="assets/images/dislike.png" alt="dislike"></button>
  </div>

  <div class="vote__container">
    <div class="vote__container-header">
      <button><img src="assets/images/back.png" alt="back"></button>
      <h1>VOTING</h1>
    </div>

    <img class="vote__container-img" src="assets/images/cat.png" alt="cat">

    <div class="vote__container-buttons">
      <button><img src="assets/images/like_white.png" alt="like"></button>
      <button><img src="assets/images/favourite_white.png" alt="favourite"></button>
      <button><img src="assets/images/dislike_white.png" alt="dislike"></button>
    </div>

    <div class="vote__container-history">
      <div class="vote__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
      <div class="vote__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
      <div class="vote__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
      <div class="vote__container-history__item">
        <h3>22:35</h3>
        <h3><span>Image ID:</span> fQSunHvl8 <span>was added to Favourites</span></h3>
        <img src="assets/images/like.png" alt="like">
      </div>
    </div>
  </div>
</div>

