<div class="wrapper">
  <div class="leftside__container">

    <a routerLink="/" class="leftside__container-logo">
      <i class="icon-logo"></i>
      <h2>PetsPaw</h2>
    </a>

    <div class="leftside__container-start">
      <h1>Hi!👋</h1>
      <h3>Welcome to MacPaw Bootcamp 2023</h3>
      <h2>Lets start using The Cat API</h2>

      <div class="cards">
        <app-card [title]="'VOTING'" [img]="'../assets/images/voting.png'" [background]="'#B4B7FF'"></app-card>
        <app-card [title]="'BREEDS'" [img]="'../assets/images/breeds.png'" [background]="'#97EAB9'"></app-card>
        <app-card [title]="'GALLERY'" [img]="'../assets/images/gallery.png'" [background]="'#FFD280'"></app-card>
      </div>

    </div>

  </div>
  <div class="rightside__container">
    <router-outlet></router-outlet>
  </div>
</div>
