<div class="gallery">
  <div class="gallery__header">
    <input type="text" placeholder="Search for gallery by name">
    <button><img src="assets/images/like.png" alt="like"></button>
    <button><img src="assets/images/favourite.png" alt="favourite"></button>
    <button><img src="assets/images/dislike.png" alt="dislike"></button>
  </div>

  <div class="gallery__container">
    <div class="gallery__container-header">
      <button class="pinky"><img src="assets/images/back.png" alt="back"></button>
      <h1>GALLERY</h1>
      <button class="gallery__container-header__upload"><img src="assets/images/upload.png" alt="upload">UPLOAD</button>
    </div>

    <div class="gallery__container-settings">
      <div class="gallery__container-settings__container">
        <label>test</label>
        <select>
          <option value="test1">test1</option>
          <option value="test2">test2</option>
        </select>
        <label>test</label>
        <select>
          <option value="test1">test1</option>
          <option value="test2">test2</option>
        </select>
      </div>
      <div class="gallery__container-settings__container">
        <label>test</label>
        <select>
          <option value="test1">test1</option>
          <option value="test2">test2</option>
        </select>
        <label>test</label>
        <select>
          <option value="test1">test1</option>
          <option value="test2">test2</option>
        </select>
        <button><img src="assets/images/refresh.png" alt="refresh"></button>
      </div>
    </div>

    <div class="gallery__container-grid">
      <div class="gallery__container-grid__item first">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item second">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item third">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item fourth">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item fifth">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
