<div class="gallery">
  <div class="gallery__header">
    <app-input [icon]="'icon-search'" [iconSize]="'20px'" [iconColor]="'#FF868E'"
               [placeholder]="'Search for breeds by name'"
               [buttonClass]="'secondary'"
               [buttonPadding]="'10px'"
               [buttonBorderRadius]="'10px'"
    ></app-input>
    <app-button [link]="'/likes'" [icon]="'icon-like'" [iconColor]="'#FF868E'"></app-button>
    <app-button [link]="'/favourites'" [icon]="'icon-favourite'" [iconColor]="'#FF868E'"></app-button>
    <app-button [link]="'/dislikes'" [icon]="'icon-dislike'" [iconColor]="'#FF868E'"></app-button>
  </div>

  <div class="gallery__container">
    <div class="gallery__container-header">
      <div class="gallery__container-header__container">
        <app-button [link]="'../'" [icon]="'icon-back'" [iconSize]="'20px'" [iconColor]="'#FF868E'" [class]="'secondary'" [borderRadius]="'10px'" [padding]="'10px'"></app-button>
        <h1>GALLERY</h1>
      </div>
      <app-button [class]="'secondary'" [icon]="'icon-upload'" [iconSize]="'16px'" [iconColor]="'#FF868E'" [title]="'UPLOAD'" [padding]="'12px 30px'" [borderRadius]="'10px'" [isReversed]="true"></app-button>
    </div>

    <div class="gallery__container-settings">
      <div class="gallery__container-settings__container">
        <div class="gallery__container-settings__container-options">
          <app-select [label]="'ORDER'" [placeholder]="'Random'" [width]="'290px'" [background]="'white'" [iconColor]="'#8C8C8C'"></app-select>
          <app-select [label]="'TYPE'" [placeholder]="'Static'" [width]="'290px'" [background]="'white'" [iconColor]="'#8C8C8C'"></app-select>
        </div>
        <div class="gallery__container-settings__container-options">
          <app-select [label]="'BREED'" [placeholder]="'None'" [width]="'290px'" [background]="'white'" [iconColor]="'#8C8C8C'"></app-select>
          <app-select [label]="'LIMIT'" [placeholder]="'5 items per page'" [width]="'240px'" [background]="'white'" [iconColor]="'#8C8C8C'"></app-select>
          <app-button [icon]="'icon-refresh'" [iconSize]="'20px'" [iconColor]="'#FF868E'" [padding]="'10px'" [borderRadius]="'10px'"></app-button>
        </div>
      </div>
    </div>

    <div class="gallery__container-grid">
      <div class="gallery__container-grid__item first">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item second">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item third">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item fourth">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
      <div class="gallery__container-grid__item fifth">
        <img src="assets/images/cat.png" alt="cat">
        <div class="gallery__container-grid__item-gallery">
          <h2>{{breed}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
