.select {
  position: relative;
  border-radius: 10px;

  &__label {
    font-size: 10px;
    font-weight: 500;
    color: #8C8C8C;
  }

  &__container {
    padding: 8px 10px;
    height: 40px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid transparent;

    &-value {
      font-size: 16px;
      font-weight: 400;
      color: #8C8C8C;
    }

    &-placeholder {
      position: absolute;
      font-size: 16px;
      font-weight: 400;
      color: #8C8C8C;
    }
  }
}

.options {
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 39px;
  left: 0px;
  gap: 10px;
  border-radius: 30px;
  background: white;
  z-index: 1;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
      font-size: 16px;
      font-weight: 400;
      color: #8C8C8C;
      cursor: pointer;
    }
  }

  &__no-result {
    color: #8C8C8C;
  }
}
