* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Jost, sans-serif;
  background: #F8F8F7;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
