* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Jost, sans-serif;
  background: #F8F8F7;
}

a {
  color: inherit;
  text-decoration: none;
}

.pinky {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #FBE0DC;
  cursor: pointer;
}
